{% extends 'base.html.twig' %}

{% block title %} Ajouter un étudiant {% endblock %}

{% block body %}

        <h1 class="mt-4">Ajouter un étudiant</h1>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.lastName, "Nom de famille") }}
            {{ form_widget(form.lastName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.firstName, "Prénom") }}
            {{ form_widget(form.firstName) }}
        </div>
        <div class="form-group">
            {{ form_label(form.numEtud, "Numéro étudiant") }}
            {{ form_widget(form.numEtud) }}
        </div>
        <div class="form-group">
            {{ form_label(form.department) }}
            {{ form_widget(form.department) }}
        </div>
        <button class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}

{% endblock %}