{% extends 'base.html.twig' %}

{% block title %} Modifier un étudiant {% endblock %}

{% block body %}

    <h1 class="mt-4">Modifier l'étudiant</h1>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.lastName, "Nom de famille") }}
        {{ form_widget(form.lastName) }}
    </div>
    <div class="form-group">
        {{ form_label(form.firstName, "Prénom") }}
        {{ form_widget(form.firstName) }}
    </div>
    <div class="form-group">
        {{ form_label(form.numEtud, "Numéro étudiant") }}
        {{ form_widget(form.numEtud) }}
    </div>
    <div class="form-group">
        {{ form_label(form.department) }}
        {{ form_widget(form.department) }}
    </div>
    <button class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

{% endblock %}