{% extends 'base.html.twig' %}

{% block title %}Bienvenue parmis les étudiants{% endblock %}

{% block body %}

<div class="row mt-4">
    <div class="col-md-6">
        <div>
            <a href="{{ path('department_index') }}">
                Ajouter un département
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <a href="{{ path('add-student') }}">
                Ajouter un étudiant
            </a>
        </div>
    </div>
</div>
<div class="espace30"></div>
<h1 class="text-center">Liste des derniers étudiants</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('delete') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% for row in students | batch(3) %}
    <div class="row">
        {% for student in row %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ student.lastName }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ student.firstName }}</h6>
                <p class="card-text">{{ student.numEtud }}</p>
                <a href="{{ path('show-student', {"id": student.id}) }}" class="btn btn-primary">Voir</a>
                <a href="{{ path('edit-student', {"id": student.id}) }}" class="btn btn-success">Modifier</a>
                <a href="{{ path('delete-student', {"id": student.id}) }}" class="btn btn-danger" onclick="return confirm('Vous voulez vous supprimé l\'étudiant ?');">Supprimé</a>
            </div>
        </div>
            {% endfor %}
    </div>
{% endfor %}

{% endblock %}