{% extends 'base.html.twig' %}

{% block title %} {{ student.firstName }} {% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Détaill de l'étudiant</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <ul class="list-group mt-5">
        <li class="list-group-item">Nom de famille : <strong>{{ student.lastName }}</strong></li>
        <li class="list-group-item">Prénom : <strong>{{ student.firstName }}</strong></li>
        <li class="list-group-item">Numéro d'étudiant : <strong>{{ student.numEtud }}</strong></li>
        <li class="list-group-item">
            Département : <strong>{{ student.department.name }}
            </strong>{{ student.department.capacity }}<strong></strong>
        </li>
    </ul>
    <a class="btn btn-success mt-5" href="{{ path('edit-student', {'id': student.id}) }}">Modifier l'étudiant</a>
    <a class="btn btn-danger mt-5" href="{{ path('delete-student', {'id': student.id}) }}" onclick="return confirm('Vous voulez vous supprimé l\'étudiant ?');">Supprimé</a>

{% endblock %}